<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CrawlConfig">
      <section name="tencent" type="CrawlNewsComments.MyConfigHandler,CrawlNewsComments"/>
      <section name="toutiao" type="CrawlNewsComments.MyConfigHandler,CrawlNewsComments"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FileSaveFolder" value=".\Crawler\"/>
    <add key="FileCopyFolder" value=".\data\news\rawdata\rawcrawl\hotnews\"/>

    <!--set value as the count of retry if the carwl failed-->
    <add key="RetryCount" value="3" />
  </appSettings>

  <CrawlConfig>
    <tencent>
      <!--the site's name-->
      <add key="SiteName" value="tencent" />
      <!-- Set 1 if crawl otherwise 0 -->
      <add key="CrawlOrNot" value="1" />
      <!--no need to set this value for tencent site-->
      <add key="CrawNewsCount" value="" />
      <!--set value as how many comments for every news to crawl-->
      <add key="CrawCommentsCount" value="60"/>
      <!--set value as the head part of the saved file name-->
      <add key="FileNameHeadPart" value="tencent.hotnews.comments"/>
      <!-- file extension,only ".json" or ".xml" is valid-->
      <add key="FileExtension" value=".xml"/>
    </tencent>
    <toutiao>
      <!--the site's name-->
      <add key="SiteName" value="toutiao" />
      <!-- Set 1 if crawl otherwise 0 -->
      <add key="CrawlOrNot" value="1" />
      <!--set value as how many news to crawl-->
      <add key="CrawNewsCount" value="1000" />
      <!--set value as how many comments for every news to crawl-->
      <add key="CrawCommentsCount" value="60"/>
      <!--set value as the head part of the saved file name-->
      <add key="FileNameHeadPart" value="toutiao.hotnews.comments"/>
      <!-- file extension,only ".json" or ".xml" is valid-->
      <add key="FileExtension" value=".xml"/>
    </toutiao>
  </CrawlConfig>
</configuration>